body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #BFB7B6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
  
nav ul {
  display: flex;
  list-style-type: none;
  margin: 0 auto;
  padding: 0,0,0,0;
  box-shadow: 0 4px 6px -1px #435058, 0 2px 4px -1px #435058;
  max-width: 430px;
  
}

nav a {
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  background-color: #DCF763;
}
.main {
  padding: 1rem;
  position: fixed;
}
nav a.active {
  background-color: #848C8E;
  
}